<div class="table-users" id="booking-container" style="border: 1px solid #337e86; border-radius: 10px; box-shadow: 3px 3px 0 rgba(0,0,0,0.1); max-width: 100%; margin: 1em 0; overflow: hidden; text-align: left;">
    <div class="header" style="background-color: #337e86; color: white; font-size: 0.7em; padding: 0.3rem; text-align: center; text-transform: uppercase; position: relative; width: 100%; box-sizing: border-box;">
        Unasnwered Booking Queries (TAT Breached)
        <a href="/admin/booking/bookingmodel/" class="admin-link">Show All</a>
    </div>
    <table id="booking-table" cellspacing="0" style="width: 100%; border-spacing: 0; table-layout: fixed;">
        <thead>
            <tr>
                <th style="background-color: #d9eff1; color: #2b6f75; padding: 5px; font-weight: 300; text-align: left;">Client Name</th>
                <th style="background-color: #d9eff1; color: #2b6f75; padding: 5px; font-weight: 300; text-align: left;">Booking Date</th>
                <th style="background-color: #d9eff1; color: #2b6f75; padding: 5px; font-weight: 300; text-align: left;">Total Price</th>
                <th style="background-color: #d9eff1; color: #2b6f75; padding: 5px; font-weight: 300; text-align: left;">TAT</th>
            </tr>
        </thead>
        <tbody id="booking-table-body">
            {% if booking_data|length == 0%}
            <tr>
                <td
                    colspan="4" style="text-align:center;padding:10px; font-size:1em; ">No Records Found
                </td>
            </tr>
            {% else %}
            {% for query in booking_data %}
            <tr>
                <td style="text-align: left; vertical-align: middle; padding: 10px; font-size: 1em;">
                    <a href="{% url 'admin:booking_bookingmodel_change' query.id %}">{{ query.Client_Name }}</a>
                </td>
                <td class="message-cell" style="text-align: left; vertical-align: middle; padding: 10px; font-size: 1em; color: black;">{{ query.Booking_Date }}</td>
                <td style="text-align: left; vertical-align: middle; padding: 10px; font-size: 1em;">{{ query.Total_Price }}</td>
                <td style="text-align: left; vertical-align: middle; padding: 10px; font-size: 1em; color: red;">{{ query.TAT }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div id="pagination-booking" style="text-align: center; padding: 10px; display: inline-flex;"></div>
</div>

<script>
function updateBookingTable(data) {
    const tableBody = document.getElementById('booking-table-body');
    tableBody.innerHTML = '';

    if (data.length === 0) {
        const row = document.createElement('tr');
        const cell = document.createElement('td');
        cell.colSpan = 4;
        cell.style.textAlign = 'center';
        cell.style.padding = '10px';
        cell.style.fontSize = '1em';
        cell.textContent = 'No records found';
        row.appendChild(cell);
        tableBody.appendChild(row);

    } else {

        data.forEach(query => {
            const row = document.createElement('tr');

            const clientNameCell = document.createElement('td');
            clientNameCell.style.textAlign = 'left';
            clientNameCell.style.verticalAlign = 'middle';
            clientNameCell.style.padding = '10px';
            clientNameCell.style.fontSize = '1em';
            const clientNameLink = document.createElement('a');
            clientNameLink.href = `/admin/booking/bookingmodel/${query.id}/change/`;
            clientNameLink.textContent = query.Client_Name;
            clientNameCell.appendChild(clientNameLink);

            const bookingDateCell = document.createElement('td');
            bookingDateCell.className = 'message-cell';
            bookingDateCell.style.textAlign = 'left';
            bookingDateCell.style.verticalAlign = 'middle';
            bookingDateCell.style.padding = '10px';
            bookingDateCell.style.fontSize = '1em';
            bookingDateCell.style.color = 'black';
            bookingDateCell.textContent = query.Booking_Date;

            const totalPriceCell = document.createElement('td');
            totalPriceCell.style.textAlign = 'left';
            totalPriceCell.style.verticalAlign = 'middle';
            totalPriceCell.style.padding = '10px';
            totalPriceCell.style.fontSize = '1em';
            totalPriceCell.textContent = query.Total_Price;

            const tatCell = document.createElement('td');
            tatCell.style.textAlign = 'left';
            tatCell.style.verticalAlign = 'middle';
            tatCell.style.padding = '10px';
            tatCell.style.fontSize = '1em';
            tatCell.style.color = 'red';
            tatCell.textContent = query.TAT;

            row.appendChild(clientNameCell);
            row.appendChild(bookingDateCell);
            row.appendChild(totalPriceCell);
            row.appendChild(tatCell);

            tableBody.appendChild(row);
        });
    }

    setupPagination();
}


function setupPagination() {
    const rowsPerPage = 5;
    const table = document.getElementById("booking-table");
    const tbody = table.querySelector("tbody");
    const rows = table.querySelectorAll("tbody tr");
    const totalRows = rows.length;
    const totalPages = Math.ceil(totalRows / rowsPerPage);
    const pagination = document.getElementById("pagination-booking");

    function showPage(page) {
        rows.forEach(row => row.style.display = "none");

        const start = (page - 1) * rowsPerPage;
        const end = start + rowsPerPage;
        const currentRows = Array.from(rows).slice(start, end);
        currentRows.forEach(row => row.style.display = "");

        addPlaceholderRows(currentRows.length);
    }

    function addPlaceholderRows(visibleRowsCount) {
        const placeholderCount = rowsPerPage - visibleRowsCount;
        let placeholderRows = tbody.querySelectorAll('.placeholder-row');
        placeholderRows.forEach(row => row.remove());

        for (let i = 0; i < placeholderCount; i++) {
            const placeholder = document.createElement("tr");
            placeholder.classList.add("placeholder-row");
            placeholder.innerHTML = `
                <td style="padding: 10px; font-size: 1em; color: transparent;">Placeholder</td>
                <td style="padding: 10px; font-size: 1em; color: transparent;">Placeholder</td>
                <td style="padding: 10px; font-size: 1em; color: transparent;">Placeholder</td>
                <td style="padding: 10px; font-size: 1em; color: transparent;">Placeholder</td>
            `;
            tbody.appendChild(placeholder);
        }
    }

    function setupPaginationLinks() {
        pagination.innerHTML = "";
        if (totalPages > 1) {
            const prevButton = document.createElement("a");
            prevButton.textContent = "Previous";
            prevButton.href = "#";
            prevButton.style.margin = "0 5px";
            prevButton.classList.add("page-link");
            prevButton.onclick = function(event) {
                event.preventDefault();
                const currentPage = getCurrentPage();
                if (currentPage > 1) {
                    showPage(currentPage - 1);
                    setActivePage(currentPage - 1);
                    updatePagination(currentPage - 1);
                }
            };
            pagination.appendChild(prevButton);
        }
        for (let i = 1; i <= totalPages; i++) {
            const a = document.createElement("a");
            a.textContent = i;
            a.href = "#";
            a.style.margin = "0 5px";
            a.classList.add("page-link");
            a.onclick = function(event) {
                event.preventDefault();
                const page = parseInt(this.textContent);
                showPage(page);
                setActivePage(page);
                updatePagination(page);
            };
            pagination.appendChild(a);
        }
        if (totalPages > 1) {
            const nextButton = document.createElement("a");
            nextButton.textContent = "Next";
            nextButton.href = "#";
            nextButton.style.margin = "0 5px";
            nextButton.classList.add("page-link");
            nextButton.onclick = function(event) {
                event.preventDefault();
                const currentPage = getCurrentPage();
                if (currentPage < totalPages) {
                    showPage(currentPage + 1);
                    setActivePage(currentPage + 1);
                    updatePagination(currentPage + 1);
                }
            };
            pagination.appendChild(nextButton);
        }
        setActivePage(1);
    }

    function setActivePage(page) {
        const links = pagination.getElementsByClassName("page-link");
        for (let link of links) {
            link.classList.remove("active");
        }
        const activeLink = Array.from(links).find(link => link.textContent == page);
        if (activeLink) {
            activeLink.classList.add("active");
        }
    }

    function updatePagination(currentPage) {
        const links = pagination.getElementsByClassName("page-link");
        for (let link of links) {
            link.classList.remove("hidden");
            const pageNum = parseInt(link.textContent);
            if (pageNum && (pageNum < currentPage - 1 || pageNum > currentPage + 1)) {
                link.classList.add("hidden");
            }
        }
    }

    function getCurrentPage() {
        const activeLink = pagination.querySelector(".page-link.active");
        return activeLink ? parseInt(activeLink.textContent) : 1;
    }

    showPage(1);
    setupPaginationLinks();
}
    document.addEventListener("DOMContentLoaded", function() {
    setupPagination();
});
</script>

<style>
body {
   background-color: #b3e0e4;
   * { box-sizing: border-box; }
}

.page-link {
    display: inline-block;
    padding: 0.10em 0.50em; /* Reduced padding for smaller buttons */
    margin: 0 0.25em;
    color: #337e86;
    text-decoration: none;
    border: none;
    font-size: 0.7em; /* Reduced font size for smaller text */
}

.page-link.active {
    font-weight: bold;
    color: white;
    background-color: #337e86;
    border-radius: 5px;
}

.page-link.hidden {
    display: none;
}

#pagination-booking {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

#booking-container .table-users tr {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    height: 50px; /* Fixed height for each row */
}

#booking-container .placeholder-row td {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
}

.admin-link {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white !important; /* White color for text */
    font-weight: bold; /* Bold text */
    text-decoration: none; /* Remove underline */
}

.admin-link:hover {
    text-decoration: underline; /* Underline on hover */
}

#booking-container .table-users th,
#booking-container .table-users td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; /* Center align all column headers and values */
    padding-left: 10px; /* Left padding */
    padding-right: 10px; /* Right padding */
}

#booking-container .table-users .message-cell {
    max-width: 200px; /* Set maximum width for the message column */
}

@media screen and (max-width: 700px) {
    #booking-container .table-users table,
    #booking-container .table-users tr,
    #booking-container .table-users td,
    #booking-container .table-users th {
        display: block;
    }

    #booking-container .table-users tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    #booking-container .table-users td,
    #booking-container .table-users th {
        text-align: left;
        padding: 10px;
        position: relative;
    }

    #booking-container .table-users td::before,
    #booking-container .table-users th::before {
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 100px; /* Adjust width based on your requirement */
        white-space: nowrap;
    }

    #booking-container .table-users th {
        background-color: #d9eff1;
        color: #2b6f75;
    }

    #booking-container .table-users td {
        padding-left: 120px; /* Adjust padding based on your requirement */
    }
}

@media screen and (max-width: 500px) {
    #booking-container .table-users table,
    #booking-container .table-users tr,
    #booking-container .table-users td,
    #booking-container .table-users th {
        display: block;
    }

    #booking-container .table-users tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    #booking-container .table-users td,
    #booking-container .table-users th {
        text-align: left;
        padding: 10px;
        position: relative;
    }

    #booking-container .table-users td::before,
    #booking-container .table-users th::before {
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 100px; /* Adjust width based on your requirement */
        white-space: nowrap;
    }

    #booking-container .table-users th {
        background-color: #d9eff1;
        color: #2b6f75;
    }

    #booking-container .table-users td {
        padding-left: 120px; /* Adjust padding based on your requirement */
    }
}
</style>
